/* line 3, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\000033}}
.adbd-btn-orange-clear {
  background-color: #14b3e4 !important;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 8px;
}
/* line 8, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\000038}}
.adbd-btn-orange-clear:hover {
  background-color: transparent;
  border: 1px solid #14b3e4;
  color: #14b3e4;
}
/* line 15, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000315}}
.adbd-btn-orange {
  background-color: #14b3e4 !important;
  color: #FFF !important;
  border-radius: 8px !important;
}
/* line 19, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000319}}
.adbd-btn-orange:hover {
  background-color: #26bdec;
  color: #FFF;
}
/* line 24, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000324}}
.adbd-btn-blue-clear {
  background-color: #14b3e4 !important;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 8px;
}
/* line 29, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000329}}
.adbd-btn-blue-clear:hover {
  background-color: transparent;
  border: 1px solid #14b3e4;
  color: #14b3e4;
}
/* line 36, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000336}}
.adbd-btn-blue {
  background-color: #14b3e4 !important;
  color: #FFF !important;
  border-radius: 8px !important;
}
/* line 40, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000340}}
.adbd-btn-blue:hover {
  background-color: #26bdec;
  color: #FFF;
}
/* line 45, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000345}}
.btn-white-orange {
  background-color: #fff!important;
  color: #14b3e4 !important;
  text-transform: uppercase;
  border-radius: 8px;
}
/* line 50, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000350}}
.btn-white-orange:hover {
  background-color: #6cd2f2 !important;
  border: 1px solid #14b3e4;
  color: #fff;
}
/* line 3, forms.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/forms\.less}line{font-family:\000033}}
.adbd_input {
  border-radius: 0;
  border: 1px solid #979797 !important;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #fff!important;
  box-shadow: none !important;
  height: 27px!important;
  font-family: Arial, FontAwesome;
  color: #333333!important;
}
/* line 11, forms.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/forms\.less}line{font-family:\0000311}}
.adbd_input:focus {
  border: 1px solid #14b3e4 !important;
}
/* line 17, forms.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/forms\.less}line{font-family:\0000317}}
input[type="date"] {
  border-radius: 0;
  border: 1px solid #979797 !important;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #fff!important;
  box-shadow: none !important;
  height: 27px!important;
  font-family: Arial, FontAwesome;
  color: #333333!important;
}
/* line 25, forms.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/forms\.less}line{font-family:\0000325}}
input[type="date"]:focus {
  border: 1px solid #14b3e4 !important;
}
/* line 31, forms.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/forms\.less}line{font-family:\0000331}}
textarea {
  border-radius: 0;
  border: 1px solid #979797 !important;
  background-color: #fff!important;
  box-shadow: none !important;
  font-family: Arial, FontAwesome;
  color: #333333!important;
}
/* line 38, forms.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/forms\.less}line{font-family:\0000338}}
textarea:focus {
  border: 1px solid #14b3e4 !important;
}
/* line 44, forms.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/forms\.less}line{font-family:\0000344}}
.picker__date-display,
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected,
.picker__weekday-display {
  background-color: #14b3e4 !important;
}
/* line 47, forms.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/forms\.less}line{font-family:\0000347}}
.picker__close,
.picker__today {
  color: #14b3e4 !important;
  font-size: 1.1rem;
  padding: 0 1rem;
}
/* line 52, forms.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/forms\.less}line{font-family:\0000352}}
.picker__day.picker__day--today {
  color: #14b3e4 !important;
}
/* line 4, typo.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/typo\.less}line{font-family:\000034}}
body {
  font-family: 'Times New Roman', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  color: #000000;
  background-color: #f5f5f5;
}
/* line 11, typo.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/typo\.less}line{font-family:\0000311}}
.btn-contact {
  color: #ffffff;
  background-color: #c2185b;
  border-color: #c2185b;
  padding: 5px 20px;
  font-size: 14;
  line-height: 2;
  border-radius: 0px;
}
/* line 7, functions.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/functions\.less}line{font-family:\000037}}
.btn-contact:focus,
.btn-contact.focus {
  color: #ffffff;
  background-color: #951246;
  border-color: #510a26;
}
/* line 13, functions.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/functions\.less}line{font-family:\0000313}}
.btn-contact:hover {
  color: #ffffff;
  background-color: #951246;
  border-color: #8c1141;
}
/* line 18, functions.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/functions\.less}line{font-family:\0000318}}
.btn-contact:active,
.btn-contact.active,
.open > .dropdown-toggle.btn-contact {
  color: #ffffff;
  background-color: #951246;
  border-color: #8c1141;
}
/* line 25, functions.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/functions\.less}line{font-family:\0000325}}
.btn-contact:active:hover,
.btn-contact.active:hover,
.open > .dropdown-toggle.btn-contact:hover,
.btn-contact:active:focus,
.btn-contact.active:focus,
.open > .dropdown-toggle.btn-contact:focus,
.btn-contact:active.focus,
.btn-contact.active.focus,
.open > .dropdown-toggle.btn-contact.focus {
  color: #ffffff;
  background-color: #750e37;
  border-color: #510a26;
}
/* line 33, functions.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/functions\.less}line{font-family:\0000333}}
.btn-contact:active,
.btn-contact.active,
.open > .dropdown-toggle.btn-contact {
  background-image: none;
}
/* line 41, functions.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/functions\.less}line{font-family:\0000341}}
.btn-contact.disabled:hover,
.btn-contact[disabled]:hover,
fieldset[disabled] .btn-contact:hover,
.btn-contact.disabled:focus,
.btn-contact[disabled]:focus,
fieldset[disabled] .btn-contact:focus,
.btn-contact.disabled.focus,
.btn-contact[disabled].focus,
fieldset[disabled] .btn-contact.focus {
  background-color: #c2185b;
  border-color: #c2185b;
}
/* line 49, functions.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/functions\.less}line{font-family:\0000349}}
.btn-contact .badge {
  color: #c2185b;
  background-color: #ffffff;
}
/* line 15, typo.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/typo\.less}line{font-family:\0000315}}
.adbd-link-orange {
  color: #14b3e4;
}
/* line 64, functions.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/functions\.less}line{font-family:\0000364}}
.adbd-link-orange:hover {
  color: #108eb5;
  text-decoration: none;
}
/* line 18, typo.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/typo\.less}line{font-family:\0000318}}
.adbd-link-blue {
  color: #14b3e4;
}
/* line 64, functions.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/functions\.less}line{font-family:\0000364}}
.adbd-link-blue:hover {
  color: #108eb5;
  text-decoration: none;
}
/* line 23, typo.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/typo\.less}line{font-family:\0000323}}
a:hover {
  text-decoration: none;
}
/* line 12, adbd_common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/adbd_common\.less}line{font-family:\0000312}}
.selectadbd {
  padding: 5px;
  border-radius: 0;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../../images/arrow483.png) no-repeat 98%;
}
/*common-wrapper*/
/* line 24, adbd_common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/adbd_common\.less}line{font-family:\0000324}}
.adbdshare_wrapper {
  min-height: 500px!important;
  margin-top: 100px;
}
/* line 29, adbd_common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/adbd_common\.less}line{font-family:\0000329}}
.adbd-uppercase {
  text-transform: uppercase;
}
/* line 33, adbd_common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/adbd_common\.less}line{font-family:\0000333}}
.adbd-capitalize {
  text-transform: capitalize;
}
/* line 37, adbd_common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/adbd_common\.less}line{font-family:\0000337}}
.adbd-input {
  outline: none;
  border: 1px solid #ddd;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-radius: 0px;
}
/* line 44, adbd_common.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/adbd_common\.less}line{font-family:\0000344}}
.adbd-input:focus {
  border-color: #14b3e4;
  box-shadow: none !important;
}
/*end of common style*/
/*# sourceMappingURL=adbd_common.css.map */