/* line 3, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\000033}}
.adbd-btn-orange-clear {
  background-color: #14b3e4 !important;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 8px;
}
/* line 8, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\000038}}
.adbd-btn-orange-clear:hover {
  background-color: transparent;
  border: 1px solid #14b3e4;
  color: #14b3e4;
}
/* line 15, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000315}}
.adbd-btn-orange {
  background-color: #14b3e4 !important;
  color: #FFF !important;
  border-radius: 8px !important;
}
/* line 19, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000319}}
.adbd-btn-orange:hover {
  background-color: #26bdec;
  color: #FFF;
}
/* line 24, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000324}}
.adbd-btn-blue-clear {
  background-color: #14b3e4 !important;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 8px;
}
/* line 29, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000329}}
.adbd-btn-blue-clear:hover {
  background-color: transparent;
  border: 1px solid #14b3e4;
  color: #14b3e4;
}
/* line 36, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000336}}
.adbd-btn-blue {
  background-color: #14b3e4 !important;
  color: #FFF !important;
  border-radius: 8px !important;
}
/* line 40, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000340}}
.adbd-btn-blue:hover {
  background-color: #26bdec;
  color: #FFF;
}
/* line 45, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000345}}
.btn-white-orange {
  background-color: #fff!important;
  color: #14b3e4 !important;
  text-transform: uppercase;
  border-radius: 8px;
}
/* line 50, buttons.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/agencyDelta\/bdgs\/resources\/css\/LESS\/buttons\.less}line{font-family:\0000350}}
.btn-white-orange:hover {
  background-color: #6cd2f2 !important;
  border: 1px solid #14b3e4;
  color: #fff;
}
/*# sourceMappingURL=buttons.css.map */